@import "assets/scss/abstracts/abstracts.scss";

.profile-page {
  .custom-select {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 20px;
    width: 100%;
  }

  .orders-card {
    width: 900px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 20px;
    padding: 32px 28px 32px 28px;
  }
  .delivery-summary-card {
    width: 900px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 20px;
    padding: 32px 28px 32px 28px;
    display: flex;
    flex-direction: column;
  }
  .title {
    @include fontLatoStyle(24px, 700, #000000, 38px);

    min-width: 150px;
  }
  .title:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .delivery-status {
    @include fontRobotoStyle(13px, 500, #ffffff, 22px);

    padding: 2px 10px 2px 10px;
    border-radius: 15px;
  }
  .delivery-status.order-confirmed {
    background-color: #2a71f9;
  }
  .delivery-status.out-for-delivery {
    background-color: #f6a240;
  }
  .delivery-status.shipped {
    background-color: #f6a240;
  }
  .delivery-status.order-cancelled {
    background-color: #f6a240;
  }
  .delivery-status.delivered {
    background-color: #6ac414;
  }
  .del-date {
    @include fontLatoStyle(20px, 700, #000000, 29px);
    margin-top: 7px;
    margin-left: 100px;
  }

  .color {
    @include fontRobotoStyle(16px, 500, #696969);
  }

  .amount {
    @include fontLatoStyle(24px, 700, #000000);
    display: flex;
    align-items: center;
  }
  .order-placed-date {
    @include fontLatoStyle(16px, 600, #696969);
  }
  .del-confirmation {
    @include fontLatoStyle(20px, 500, #000000);
  }

  .payment-mode {
    @include fontLatoStyle(16px, 700, #000000);
  }

  .payment-bank {
    @include fontLatoStyle(14px, 500, #000000);
    margin-top: 0px;
  }

  .product-rating {
    @include fontLatoStyle(24px, 700, #2a71f9);
    cursor: pointer;
  }

  .installation-expectation {
    @include fontLatoStyle(16px, 700, #000000);
  }

  .edit {
    text-decoration-line: underline;
    color: #2a71f9;
    cursor: pointer;
  }

  .installation-charges {
    @include fontPoppinsStyle(18px, 400, #6b7280);
  }

  .installation-amount {
    @include fontPoppinsStyle(14px, 600, #1a2323);
  }

  .star-image {
    margin-top: -5px;
  }

  .view-details-btn {
    @include fontRobotoStyle(12px !important, 600 !important, #2a71f9, 22px);

    border: 1px solid #2a71f9;
    width: 125px;
    border-radius: 50px;
    padding: 9px 9px;
  }

  .deliver-head {
    @include fontLatoStyle(24px, 700, #000000);
  }
  .deliver-subtitle {
    @include fontLatoStyle(16px, 600, #696969);
    margin-bottom: 39px;
  }
  .payment-info {
    background: #f2f2f2;
    width: 100%;
    padding: 17px 24px;
    border-radius: 10px;
    margin-bottom: 16px;
    .mode-text {
      @include fontLatoStyle(16px, 700, #000000);
    }
    .mode-detail {
      @include fontLatoStyle(14px, 500, #000000);
    }
  }
  .bill-details {
    width: 100%;
    padding: 30px 24px;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    .total-item {
      @include fontLatoStyle(24px, 700, #000000);
      margin-bottom: 10px;
    }
    .order-id {
      @include fontLatoStyle(16px, 600, #696969);
      margin-bottom: 29px;
    }

    .products {
      margin-left: 9px;
      .product-name {
        @include fontLatoStyle(16px, 600, #000000);
      }
      .product-color {
        @include fontRobotoStyle(12px, 500, #696969);
      }
    }
    .price {
      @include fontLatoStyle(14px, 700, #000000);
      margin-left: auto;
    }
    .orderList {
      border-bottom: 1px solid #d5d5d5;
      padding-bottom: 24px;
      margin-bottom: 20px;
    }

    .bill-det-txt {
      margin-top: 38px;
      margin-bottom: 29px;
      @include fontLatoStyle(24px, 700, #000000);
    }
    .detail-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 29px;
      .name {
        @include fontLatoStyle(16px, 600, #7d7d7d);
      }
      .price {
        @include fontLatoStyle(16px, 600, #4d4d4d);
      }
      .free {
        @include fontLatoStyle(16px, 500, #48b715);
        margin-right: 6px;
      }
    }
    .hr-line {
      border-bottom: 1px solid #cbcbcb;
      margin-bottom: 29px;
    }
    .chat-btn {
      width: 100%;
      background-color: #a26220;
      border-radius: 6px;
      padding: 14px 24px;
      @include fontLatoStyle(
        18px !important,
        500 !important,
        #ffffff !important
      );
      margin-top: 7px;
      margin-bottom: 10;
    }
  }
}
