@import "assets/scss/abstracts/abstracts.scss";
.login-entries {
  left: 45%;
  position: absolute;
  .email-mobile-input-field {
    width: 600px;
    @include fontLatoStyle(14px, 700, #000000, 17px);
    input {
      height: 3em;
    }
  }
  .password-input-field {
    width: 600px;
    @include fontLatoStyle(14px, 700, #000000, 17px);
    input {
      height: 3em;
    }
  }
  .MuiInputBase-root::before {
    border-bottom: 1px solid #d5d5d5;
  }
  .forget-text-inputfield {
    @include fontLatoStyle(16px, 700, #2a71f9, 24px);
  }
  .login-button {
    width: 280px;
    height: 60px;
  }
}

.login-terms {
  padding: 30px 0 30px;
  @include fontLatoStyle(14px, 500, #000000, 17px, 0.04em);
}

.login-register {
  padding: 30px 0 30px;
  @include fontLatoStyle(18px, 500, #000000, 22px, 0.04em);
}
