.RegisterAgain_entries{
    form{
        position: relative;
    }
  input{
    border: none;
    border-bottom: 2px solid#D4D4D4;
    background-color: unset;
    outline: none;
    font-size: 18px;
    width: 80%;
  }
}

.RegisterAgain_number{
    margin-top: 64px;
    margin-left: 62px;
    label{
        position: absolute;
        left: 74%;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #2A71F9;
}
}

.RegisterAgain_OTP_sent{
    span{
        position: absolute;
        width: 179px;
        left: 72px;
        top: 100px;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.04em;
        color: #9A9999;
    }

    label{
        position: absolute;
        width: 56px;
        left: 74%;
        top: 100px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #2A71F9;
    }
}

.RegisterAgain_enterotp{
    margin-top: 14%;
    margin-left: 70px;
    input{
        border: none;
        border-bottom: 2px solid#D4D4D4;
        background-color: unset;
        outline: none;
        font-size: 18px;
        width: 80%;
      }
}

.RegisterAgain_setpassword{
    margin-top: 6%;
    margin-left: 70px;
    input{
        border: none;
        border-bottom: 2px solid#D4D4D4;
        background-color: unset;
        outline: none;
        font-size: 18px;
        width: 80%;
      }
}

.Login_Registeragain_button{
    align-items: center;
    padding: 9px 156px;
    color: white;
    position: absolute;
    font-size: 17px;
    width: 75%;
    height: 57px;
    left: 7%;
    top: 120%;
    background: #A26220;
    border-color: #A26220;
    border-radius: 5px;
    }

    .Existing_button_again{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 132px;
    font-size: 19px;
    position: absolute;
    width: 75%;
    height: 57px;
    left: 7%;
    top: 150%;
    color: #2A71F9;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-color: #FFFFFF;
    font-size: 16px;
    }
