@import "assets/scss/abstracts/abstracts";

.product-management {
  position: relative;
}

.addnewproduct {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  width: 1430px;
  height: 1180px;
}
.add-category {
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.add-subcategory {
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.add-title {
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.add-price {
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.add-color {
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.add-quantity {
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}
.add-date {
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 1340px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}
.content-field {
  margin-bottom: 40px;
  border: 1px solid #c0c0c0 !important;
  border-radius: 0px !important;
  border-top: none !important;
  padding-bottom: 100px !important;
  width: 105%;
  margin-left: 30px;
  margin-top: 50px;
}
.content-field1 {
  margin-bottom: 40px;
  border: 1px solid #c0c0c0 !important;
  border-radius: 0px !important;
  border-top: none !important;
  padding-bottom: 100px !important;
  margin-left: 77px;
  width: 105%;
  margin-top: 50px;
}

.add-publishbtn {
  background: #5d5fef;
  border-radius: 6px;
  color: #ffffff;
  width: 177px;
  height: 51px;
  margin-left: 30px;
}
.add-cancelbtn {
  background: white;
  border-radius: 6px;
  color: black;
  width: 177px;
  height: 51px;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 30px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
}

.add-catalogue {
  .add-catalogue-main {
    padding: 50px;

    .add-catalogue-inner {
      .add-catalogue-label {
        @include fontLatoStyle(20px, 600, #263238, 24px);
      }

      .add-catalogue-inner-container {
        border: 1px solid #d5d5d5;
        padding: 30px;
        .add-catalogue-description {
          @include fontLatoStyle(16px, 600, #000000, 19px);
        }
        .catalogue-type {
          background-color: #ffffff;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          opacity: 0.6;
          height: 50px;
          width: 25%;

          border: 0.25px solid #c0c0c0;
          @include fontLatoStyle(16px, 500, #000000, 19px);
        }
      }
      background-color: #ffffff;
      padding: 20px;

      .image-upload-box {
        border: 1px dashed #d5d5d5;
        height: 247px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    .checkbox-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      margin-top: 20px;
      position: relative;
    }
  }
}
