@import "assets/scss/abstracts/abstracts.scss";

.saved-address {
  .saved-address-button {
    @include fontLatoStyle(18px, 600, #2a71f9, 27px);
    border-radius: 0;
    border: 1px solid #2a71f9;
  }
}

.address-card {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 20px 40px 20px 40px;
  .label-name {
    @include fontLatoStyle(18px, 600, #000000, 27px);
  }
  .label-mobno {
    @include fontLatoStyle(18px, 700, #000000, 27px);
  }
  .label-address {
    @include fontLatoStyle(16px, 500, #000000, 27px);
    width: 400px;
  }
}

.edit-text {
  border-bottom: 2px solid #2a71f9;
  @include fontLatoStyle(19px, 500, #2a71f9, 20px);
  cursor: pointer;
}

.delete-text {
  border-bottom: 2px solid #ef3039;
  @include fontLatoStyle(19px, 500, #ef3039, 20px);
  cursor: pointer;
}
