@import "../../../assets/scss/abstracts/abstracts";

* {
  font-family: "Nunito", sans-serif;
}

.record_not_found {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  position: absolute;
  left: 45%;

  @include media-breakpoint-mobile-port {
    position: initial
  }

  label {
    @include fontNunitoStyle(18px, 600, $black);
  }
}