@import "assets/scss/abstracts/abstracts.scss";

.latestblogs-head {
  height: 300px;
  background-color: #54cfbd;
  width: 100%;
}
.mainmenu {
  font-weight: 700;
  font-size: 39px;
  color: #000000;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.division1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.blogImage {
  width: 100%;
  max-width: 470px;
  height: 360px;
}

.loadMoreWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadmore {
  width: 255px;
  height: 60px;
  background: #a16220;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 20px 0px;
}

.blog-main {
  cursor: pointer;
}

.blogWrap {
  margin: 15px 10px;
}

.blogContents {
  margin-left: 16px;
  background-color: #ffffff;
  width: 435px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  margin-top: -21px;
  margin-bottom: 10px;
  .blog1img {
    display: flex;
    .johndoe {
      margin: 10px 0px;
      border-radius: 10px;
    }
    h6 {
      font-weight: 500;
      font-size: 15px;
      margin-top: 14px;
      margin-left: 10px;
    }
    span {
      @include fontLatoStyle(14px, 500, #9a9999);
      margin-left: 10px;
    }
  }
  label {
    @include fontLatoStyle(27px, 700, #000000, 24px);
    margin-top: 25px;
    line-height: 40.5px;
  }
  h5 {
    @include fontLatoStyle(13px, 400, #000000, 189.5%);
    text-align: justify;
    margin-top: 15px;
  }
}
