.footer-container {
  position: static;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #0c2621;
  color: #ffffff;
  .footer-inner-container {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer-subject {
    width: 385px;
  }
  .footer-trademark {
    border-top: 1px solid #ffffff;
  }
}
