@import "../../../assets/scss/abstracts/abstracts.scss";
.footer-containerr {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0c2621;
  color: #ffffff;
  .footer-inner-containerr {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;

    .footer-options {
      padding-top: 4%;
      .brand-infoo {
        font-weight: 700;
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
  .footer-subject {
    width: 385px;
  }
  .footer-trademark {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    .company-branding {
      font-weight: 600;
    }
  }
}
