@import "../../assets//scss//abstracts/abstracts.scss";

.product-listing-container {
  padding-left: 6%;
  padding-right: 6%;
}
.filter-container {
  width: 20%;
}

.sorting-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  height: 100%;
  margin-top: 50px;
  margin-left: 4%;
}

.sort-by-text {
  color: #818181;
}
