@import "assets/scss/abstracts/abstracts.scss";

.calculate-rolls-container {
  width: 925px;
  height: 100%;
  padding: 5% 6% 5% 6%;
  .header-container {
    .header-title {
      @include fontLatoStyle(28px, 700, #000000, 32px);
    }
  }
  .calculator-container {
    .calculator-subject {
      @include fontRobotoStyle(16px, 500, #9a9999, 26px);
      width: 600px;
    }
    .calculator-input-container {
      display: flex;
      justify-content: space-between;
      width: 475px;
    }
    .calculated-container {
      display: flex;
      justify-content: space-between;
      padding-top: 70px;
      width: 670px;
      .calculate-label {
        @include fontRobotoStyle(15px, 400, #8d8d8d, 28px);
      }
      .calculate-value {
        @include fontLatoStyle(18px, 500, #000000, 40px);
      }
    }
    .reset-value-button {
      border: 1px solid #a26220;
      width: 225px;
      height: 60px;
      @include fontLatoStyle(22px, 500, #a26220, 32px);
    }
    .continue-button {
      background-color: #a26220;
      width: 225px;
      height: 60px;
      @include fontLatoStyle(22px, 500, #ffffff, 32px);
    }
  }
  .calculate-button {
    background-color: #a26220;
    width: 250px;
    height: 60px;
  }
  .calculate-button:hover {
    background-color: #a26220;
  }
}
