.rolls2{
    width: 68%;
    height: 686px;
    background: #FCFCFC;
    border-style: inset;
    border-color: 1px solid #9A9999;
    label{
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        margin-left: 5%;
        margin-top: 5%;
    }
    img{
        width: 2%;
        position: relative;
        left: 66%;
        bottom: 3%;
    }
    p{
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #9A9999;
        position: relative;
        right: 47px;
        top: 21px;
    }
    .rollscalc2entries{
        display: flex;
        gap: 17%;
        margin-left: 9%;
        margin-top: 100px;
        input{
            width: 18%;
            padding: 13px 1px 19px 56px;
            border: none;
            border-bottom: 1px solid #9A9999;
        }
    }
    .rolls2enteragain{
        display: flex;
        gap: 15%;
        margin-left: 58px;
        label{
            font-weight: 500;
font-size: 25px;
color: #8D8D8D;

        }
    }
    .rolls2values{
        display: flex;
        gap: 23%;
        margin-left: 58px;
        label{
            font-weight: 500;
font-size: 28px;
color: #000000;
        }
    }
    .rolls2buttons{
        display: flex;
        margin-left: 25%;
        margin-top: 5%;
        gap: 7%;
        .rolls2reset{
            width: 286px;
            height: 68px;
            background:white;
            border-radius: 10px;
            color:#A26220;
            border-color:#A26220;
        }
        .rolls2continue{
            width: 286px;
            height: 68px;
            background: #A26220;
            border-radius: 10px;
            color: #FCFCFC;
            border-color: #A26220;
        }
    }
}