@import "assets/scss/abstracts/abstracts.scss";
.manage-reports {
  width: 95%;
  position: relative;
  left: 10px;
  top: 20px;

  p {
    @include fontLatoStyle(18px, 600, #000000);
  }

  .date-picker-container {
    position: relative;
    left: 35px;
    top: 60px;

    p {
      @include fontLatoStyle(14px, 500, #000000, 17px);
      width: 100px;
      margin-top: 15px;
    }
  }

  .select-option {
    position: absolute;
    right: 90px;
  }

  .cards-section {
    margin-top: 80px;
  }

  .report-card {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    position: relative;
    .icons {
      position: absolute;
      right: 25px;
      top: 20px;
      display: grid;
      gap: 20px;
      grid-template-columns: auto auto;

      img {
        cursor: pointer;
      }
    }
  }

  .orders {
    .amount {
      @include fontLatoStyle(32px, 700, #5d5fef, 32px);
    }

    .number {
      @include fontLatoStyle(16px, 500, #000000);
      margin-top: -20px;
    }
  }
}
