@import "assets/scss/abstracts/abstracts.scss";

.profile-form {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: -20px;
  padding: 20px;
  border: none !important;
  font-style: normal;
  font-weight: 600;
  width: 650px;
  height: 640px;
}

.flex-main {
  display: flex;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.input-container {
  width: 100%;
  position: relative;
}

label {
  @include fontLatoStyle(16px, 700, #000000, 24px);
}

.change-text {
  position: absolute;
  top: 55px;
  right: 10px;
  color: #2a71f9;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

.disabled {
  background-color: #f9f9f9 !important;
  border: 1px solid #d5d5d5 !important;
}
