.addcoupon{
    background: #FFFFFF;
border: 1px solid #D5D5D5;
width: 1430px;
height:1250px;
}

.add-offer{
    margin-top: 50px;
    label{
        color: #000000;
        font-weight: 500;
font-size: 20px;
margin-top: 25px;
margin-left: 30px;
    }
    input{
        border: 0.25px solid #C0C0C0;
        width: 655px;
height: 51px;
margin-top: 15px;
margin-left: 30px;
padding: 20px;
    }
}

.add-couponcode{
    margin-top: 50px;
    label{
        color: #000000;
        font-weight: 500;
font-size: 20px;
margin-top: 25px;
margin-left: 30px;
    }
    input{
        border: 0.25px solid #C0C0C0;
        width: 655px;
height: 51px;
margin-top: 15px;
margin-left: 30px;
padding: 20px;
    }
}

.add-startdate{
    margin-top: 50px;
    label{
        color: #000000;
        font-weight: 500;
font-size: 20px;
margin-top: 25px;
margin-left: 30px;
    }
    input{
        border: 0.25px solid #C0C0C0;
        width: 655px;
height: 51px;
margin-top: 15px;
margin-left: 30px;
padding: 20px;
    }
}

.add-endate{
    margin-top: 50px;
    label{
        color: #000000;
        font-weight: 500;
font-size: 20px;
margin-top: 25px;
margin-left: 30px;
    }
    input{
        border: 0.25px solid #C0C0C0;
        width: 655px;
height: 51px;
margin-top: 15px;
margin-left: 30px;
padding: 20px;
    }
}

.adddiscount-status{
    label{
        font-weight: 500;
font-size: 20px;
margin-left: 30px;
margin-top: 25px;
    }
    .adddiscount-in{
        display: flex;
        gap: 50px;
        margin-left: 32px;
    input[type="radio"]:checked+label{
        color: #5D5FEF;
        cursor: pointer;
    }
   label{
    color: #404040;
    font-weight: 400;
font-size: 15px;
margin-left:12px;
   }
   input{
    cursor: pointer;
    height: 16px;
   }
    }
}

.add-coupondiscount{
    margin-top: 30px;
    input{
        border: 0.25px solid #C0C0C0;
        width: 655px;
height: 51px;
margin-top: 15px;
margin-left: 30px;
padding: 20px;
    }
}
.coupon-field {
    margin-bottom: 40px;
    border: 1px solid #c0c0c0 !important;
    border-radius: 0px !important;
    border-top: none !important;
    padding-bottom: 100px !important;
    width: 95%;
    margin-left: 30px;
    margin-top: 50px;
    height: 250px;
  }
  .add-couponpublishbtn{
    background: #5D5FEF;
border-radius: 6px;
color: #FFFFFF;
width: 177px;
height: 51px;
margin-left: 30px;
  }
  .add-couponcancelbtn{
    background: white;
    border-radius: 6px;
    color: black;
    width: 177px;
height: 51px;
border: 1px solid black;
margin-left: 50px;
margin-top: 120px;
  }

  .coupon-status{
    label{
        font-weight: 500;
font-size: 20px;
margin-left: 30px;
margin-top: 25px;
    }
    .coupon-in{
        display: flex;
        gap: 50px;
        margin-left: 32px;
    input[type="radio"]:checked+label{
        color: #5D5FEF;
        cursor: pointer;
    }
   label{
    color: #404040;
    font-weight: 400;
font-size: 15px;
margin-left:12px;
   }
   input{
    cursor: pointer;
    height: 16px;
   }
    }
}