.addcoupon {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  width: 1430px;
  height: 1250px;
}

.sub-heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.add-offer {
  margin-top: 50px;
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.add-couponcode {
  margin-top: 50px;
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.add-startdate {
  margin-top: 50px;
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.add-endate {
  margin-top: 50px;
  label {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 30px;
  }
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}

.adddiscount-status {
  label {
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 25px;
  }
  .adddiscount-in {
    display: flex;
    gap: 50px;
    margin-left: 32px;
    input[type="radio"]:checked + label {
      color: #5d5fef;
      cursor: pointer;
    }
    label {
      color: #404040;
      font-weight: 400;
      font-size: 15px;
      margin-left: 12px;
    }
    input {
      cursor: pointer;
      height: 16px;
    }
  }
}

.add-coupondiscount {
  margin-top: 30px;
  input {
    border: 0.25px solid #c0c0c0;
    width: 655px;
    height: 51px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
  }
}
.coupon-field {
  margin-bottom: 40px;
  border: 1px solid #c0c0c0 !important;
  border-radius: 0px !important;
  border-top: none !important;
  padding-bottom: 100px !important;
  width: 95%;
  margin-left: 30px;
  margin-top: 50px;
  height: 250px;
}
.add-couponpublishbtn {
  background: #5d5fef;
  border-radius: 6px;
  color: #ffffff;
  width: 177px;
  height: 51px;
  margin-left: 30px;
}
.add-couponcancelbtn {
  background: white;
  border-radius: 6px;
  color: black;
  width: 177px;
  height: 51px;
  border: 1px solid black;
  margin-left: 50px;
  margin-top: 120px;
}

.coupon-status {
  label {
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 25px;
  }
  .coupon-in {
    display: flex;
    gap: 50px;
    margin-left: 32px;
    input[type="radio"]:checked + label {
      color: #5d5fef;
      cursor: pointer;
    }
    label {
      color: #404040;
      font-weight: 400;
      font-size: 15px;
      margin-left: 12px;
    }
    input {
      cursor: pointer;
      height: 16px;
    }
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background-color: #26e044;
}

.red {
  background-color: #e11539;
}

.table-body-cell-label {
  display: flex;
  align-items: center;
  gap: 10px;
}
