.Bot{
    width: 571px;
height: 636px;
background: #FCFCFC;
border-radius: 24px 24px 0px 0px;
border-style: inset;
}

.Askexperts{
    width: 565px;
    height: 170px;
    background: #54CFBD;
    border-radius: 24px 24px 0px 0px;
    label{
        font-weight: 700;
        font-size: 23px;
        color: #000000;
        margin-left: 52px;
        margin-top: 37px;
    }
    img{
        position: absolute;
    width: 18px;
    left: 45%;
    margin-top: 4%;
    }
    span{
        font-weight: 700;
    font-size: 21px;
    color: #000000;
    margin-left: 50px;
    position: relative;
    top: 11px;
    }
    small{
        font-weight: 400;
    font-size: 16px;
    color: #000000;
    position: relative;
    top: 20px;
    left: 53px;
    }
}
.Botchoose{
    label{
    
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        margin-top: 35px;
        margin-left: 54px;
    }
}
.choosecontents1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 33px;
    .choosewallpaper{
        width: 120px;
        height: 35px;
        background: #CD9C69;
        border-radius: 6px;
        padding: 6px 2px 2px 16px;
    }
    .choosestikerwallpaper{
        width: 160px;
        height: 35px;
        background:white;
        border-radius: 6px;
        border:1px solid #ACACAC;
        padding: 6px 2px 2px 16px;
        label{
            width: 130px;
            color: #767676;
        }
    }
    .choosewallmurals{
        width: 160px;
        height: 35px;
        background:white;
        border-radius: 6px;
        border:1px solid #ACACAC;
        padding: 6px 2px 2px 16px;
        label{
            width: 130px;
            color: #767676;
        }
    }
}

.choosecontents2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 33px;
    .chooseorderqueries{
        width: 210px;
        height: 35px;
        background:white;
        border-radius: 6px;
        border:1px solid #ACACAC;
        padding: 6px 2px 2px 16px;
        label{
            width: 174px;
            color: #767676;
        }
    }
    .chooserelatedqueries{
        width: 210px;
        height: 35px;
        background:white;
        border-radius: 6px;
        border:1px solid #ACACAC;
        padding: 6px 2px 2px 16px;
        label{
            width: 184px;
            color: #767676;
        }
    }
}

.choosecontents3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 33px;
    .choosebookings{
        width: 120px;
        height: 35px;
        background:white;
        border-radius: 6px;
        border:1px solid #ACACAC;
        padding: 6px 2px 2px 16px;
        label{
            width: 174px;
            color: #767676;
        }
    }
    .chooseinstaller{
        width: 210px;
        height: 35px;
        background:white;
        border-radius: 6px;
        border:1px solid #ACACAC;
        padding: 6px 2px 2px 16px;
        label{
            width: 184px;
            color: #767676;
        }
    }
   
}
.botconversation{
    input{
margin-top: 21%;
border: none;
margin-left: 28px;
font-size: 19px;
    }
    img{
        margin-left: 48%;
        margin-bottom: 10px;
    }
}
hr{
    position: relative;
    top: 123px;
    left: 4px;
    width: 99%;
}