@import "assets/scss/abstracts/abstracts.scss";

.home-card-wallmurals-container {
  width: auto;
  height: 372px;

  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-left: 60px;

  .home-card-wallmurals--title {
    @include fontLatoStyle(32px, 500, #000000, 38px);
    margin-bottom: 20px;
  }

  .home-card-wallmurals--title-two {
    @include fontLatoStyle(18px, 400, #838383, 22px);
    margin-bottom: 40px;
  }

  img {
    width: 76.92px;
    height: 70px;
    margin-bottom: 25px;
  }

  button {
    width: 191px;
    height: 57px;
    border: none;
    @include fontLatoStyle(16px, 500, #ffffff, 19px);
    background: #a26220;
    border-radius: 6px;
    text-align: center;
  }
}

@media only screen and (max-width: 1366px) and (max-height: 768px) {
  .home-card-wallmurals-container {
    width: 400px;
    height: 300px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 20px;

    .home-card-wallmurals--title {
      @include fontLatoStyle(25px, 500, #000000, 38px);
      margin-bottom: 20px;
    }

    .home-card-wallmurals--title-two {
      @include fontLatoStyle(14px, 400, #838383, 22px);
      margin-bottom: 20px;
    }

    img {
      width: 60px;
      height: 50px;
      margin-bottom: 15px;
    }

    button {
      width: 170px;
      height: 45px;
      border: none;
      @include fontLatoStyle(16px, 500, #ffffff, 19px);
      background: #a26220;
      border-radius: 6px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1280px) and (max-height: 720px) {
  .home-card-wallmurals-container {
    width: 350px;
    height: 220px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 20px;

    .home-card-wallmurals--title {
      @include fontLatoStyle(20px, 500, #000000, 38px);
      margin-top: -15px;
    }

    .home-card-wallmurals--title-two {
      @include fontLatoStyle(12px, 400, #838383, 22px);
      margin-top: -15px;
    }

    img {
      width: 40px;
      height: 30px;
      margin-top: -15px;
    }

    button {
      width: 150px;
      height: 35px;
      border: none;
      @include fontLatoStyle(16px, 500, #ffffff, 19px);
      background: #a26220;
      border-radius: 6px;
      text-align: center;
    }
  }
}
