@import "../abstracts/abstracts.scss";

.auth-layout {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0px;
  background: radial-gradient(
    93.07% 93.07% at 19.34% 7.32%,
    #165147 0%,
    #113630 76.59%
  );
  padding: 60px 60px 0px 60px;
  label {
    @include fontLatoStyle(34px, 600, #ffffff, 47px, 0.04em);
    padding-top: 50px;
    text-transform: capitalize;
  }
  p {
    @include fontLatoStyle(20px, 500, #ffffff, 20px, 0.04em);
    padding-top: 70px;
    width: 70%;
  }
}
