@import "assets/scss/abstracts/abstracts.scss";
.address-form {
  display: flex;
  margin-left: 10%;
  flex-direction: column;
}

.address-form h1 {
  @include fontLatoStyle(24px, 600, #000000);
}

label {
  @include fontRobotoStyle(14px, 400, #000000);
}
