@import "assets/scss/abstracts/abstracts.scss";

.post-register-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 100%;
  top: 4%;
  padding: 9% 12% 9% 17%;
  width: 100%;
  .input-mobile-email {
    @include fontLatoStyle(14px, 700, #9a9999, 17px);
    width: 500px;
  }
  .label-privacy-policy {
    @include fontLatoStyle(14px, 600, #000000, 17px, 0.04em);
    width: 80%;
    padding: 18% 0 5% 0;
  }
}

.post-register-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 100%;
  top: 4%;
  padding: 9% 12% 9% 17%;
  .input-phonenumber,
  .input-otp,
  .input-password {
    @include fontLatoStyle(14px, 700, #9a9999, 17px);
    width: 500px;
    .label-change {
      @include fontLatoStyle(14px, 700, #2a71f9, 17px);
      padding: 0;
      width: 14%;
    }
  }

}
.input-otp{
 width: 625px;
}
.input-password{
  width: 625px;
}
.label-otp-sent {
  @include fontLatoStyle(14px, 500, #9a9999, 17px);
  padding: 0;
}
.label-resend {
  @include fontLatoStyle(14px, 700, #2a71f9, 17px);
  padding: 0;
}
.otp-resend-container {
  // gap: 330px;
  justify-content: space-between;

}
