.delivery-card {
  width: 1178px;
  height: 338px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.delivery-card-inner {
  width: 90%;
  height: 231px;
  background-color: #f2f2f2;
  margin-left: 5%;
}

.return-summary-card {
  width: 385px;
  height: 393px;
  background: #fffefe;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 20px;
}

.return-order-main {
  display: flex;
  justify-content: center;
  gap: 30px;

  .name {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }
}

.return-details-card {
  width: 1177px;
  height: 806px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.payment-mode-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.payment-mode-type {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: -20px;
}

.eligibility-date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5%;
}

.return-summary-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  color: #2a71f9;
}

.small-image {
  width: 93px;
  height: 96px;
}

.return-summary-card {
  .date {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    color: #2a71f9;
  }

  .type {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: #000000;
  }

  .color {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-top: -10px;
    color: #696969;
  }

  .refund-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    color: #000000;
  }

  .refund-amount {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #cd9c69;
  }
}
