@import "assets/scss/abstracts/abstracts.scss";

.card-three-container {
  height: 400px;
  width: 400px;
  margin-bottom: 50px;
  cursor: pointer;

  .card-three-image-section {
    height: 233px;

    width: 100%;
    margin-bottom: 24px;
    background-size: cover;
    background-repeat: no-repeat;

    .icon-container {
      height: 50px;

      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-end;
      padding-right: 16px;

      .icon-1 {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        margin-right: 8px;
        cursor: pointer;
      }

      .icon-2 {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
      }
    }
  }

  .card-three-title {
    @include fontLatoStyle(29px, 500, #000000, 35px);
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  .card-three-price {
    @include fontLatoStyle(22px, 500, #696969, 26px);
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .card-three-info-txt {
    @include fontLatoStyle(19px, 400, #696969, 23px);
    display: flex;
    align-items: center;
  }
}
