@import "assets/scss/abstracts/abstracts.scss";

.forgot-password-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 100%;
  top: 4%;
  padding: 9% 12% 9% 12%;
  .input-phonenumber,
  .input-otp,
  .input-password {
    @include fontLatoStyle(14px, 700, #9a9999, 17px);
    width: 500px;
    .label-change {
      @include fontLatoStyle(14px, 700, #2a71f9, 17px);
      padding: 0;
      width: 14%;
    }
  }

  .otp-resend-container {
    .label-otp-sent {
      @include fontLatoStyle(14px, 500, #9a9999, 17px);
      padding: 0;
    }
    .label-resend {
      @include fontLatoStyle(14px, 700, #2a71f9, 17px);
      padding: 0;
    }
    .resend-hidden {
      display: none;
    }
  }
}
