@import "assets/scss/abstracts/abstracts.scss";

.download-csv-button {
  border: 1px solid #5d5fef;
  @include fontLatoStyle(16px, 500, #5d5fef, 19px);
}
.add-new-installer-button {
  @include fontLatoStyle(16px, 500, #ffffff, 19px);
  background: #5d5fef;
  border-radius: 6px;
  &:hover {
    background: #5d5fef;
  }
}

.table-head-cell-label {
  @include fontLatoStyle(14px, 600, #ababab, 17px);
}
.table-body-cell-label {
  @include fontLatoStyle(14px, 600, #000000, 17px);
}
.table-cell-menu-item {
  @include fontRobotoStyle(14px, 400, #ababab, 16px);
}

.add-edit-installer-container {
  margin: 2% 3rem 3rem 3rem;
  border: 1px solid #d5d5d5;
  .add-edit-installer-inner-container {
    padding: 2rem;
    height: 100%;
    width: 100%;

    .input-label {
      @include fontLatoStyle(16px, 600, #000000, 19px);
    }

    .radio-label {
      .MuiTypography-root {
        @include fontLatoStyle(15px, 400, #404040, 18px);
        &.active {
          color: #5d5fef;
        }
      }
    }

    .button-container {
      .cancel-button {
        @include fontLatoStyle(16px, 500, #000000, 19px);
        border: 1px solid #000000;
        border-radius: 6px;
        height: 50px;
        width: 170px;
      }
      .save-button {
        background: #5d5fef;
        border-radius: 6px;
        height: 50px;
        width: 175px;
        @include fontLatoStyle(15px, 500, #ffffff, 19px);
      }
    }

    .color-chip-input {
      .MuiInputBase-root.MuiOutlinedInput-root {
        .MuiButtonBase-root.MuiChip-root {
          border: 1px solid #ffe58f;
          border-radius: 2px;
          background-color: #fffbe6;
          border-radius: none;
          width: 120px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
