@import "assets/scss/abstracts/abstracts.scss";

.home-content-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

  .main-container-bg {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #faf5ef 0%,
      #faf5ef 53.65%,
      #faf5ef 100%
    );

    .grass-txt {
      @include fontLatoStyle(20px, 400, #1a2323, 26px);
      margin-bottom: 50px;
    }
  }

  .main-container {
    height: fit-content;
    width: 100%;

    padding-left: 150px;
    padding-right: 150px;
    padding-top: 80px;
    margin-bottom: 20px;

    .room-vis-conatiner {
      display: flex;
      .section-one {
        flex: 1;
      }

      .section-two {
        flex: 1;

        .room-vis-txt {
          @include fontLatoStyle(20px, 400, #2f2f2f, 24px);
          margin-bottom: 50px;
        }

        .room-vis-try-now--but {
          width: 275px;
          height: 57px;
          cursor: pointer;
          background: #ffffff;
          /* Gold 2 */

          border: 1.5px solid #af763a;
          border-radius: 6px;
          @include fontLatoStyle(18px, 500, #000000, 22px);
          text-align: center;

          /* Gold 2 */
          margin-bottom: 60px;
          color: #af763a;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .dwnld-app-txt {
          @include fontLatoStyle(21px, 500, #000000, 22px);
        }
      }
    }

    .home-main-card-container {
      display: flex;
      height: fit-content;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;

      .blog-container {
        width: 45%;
        .blog-post-img {
          margin-bottom: 20px;
          width: 100%;
          height: 276px;
          object-fit: cover;
          border-radius: 10px 0px 0px 0px;
        }

        .blog-post-date {
          @include fontLatoStyle(20px, 600, #cd9c69, 48px);
        }

        .blog-post-title {
          @include fontLatoStyle(32px, 600, #000000, 45px);
          margin-bottom: 13px;
        }

        .blog-post-content {
          @include fontLatoStyle(24px, 500, #838383, 29px);
        }
      }

      .testimonial-card-container {
        width: 662px;
        height: 353px;
        padding: 36px;

        background: #ffffff;
        /* Gold 1 */

        border: 1.5px solid #cd9c69;
        box-shadow: inset 0px 2px 13px rgba(230, 193, 86, 0.18);
        border-radius: 10px;

        .testimonial-card-inner-container {
          display: flex;
          justify-content: space-between;
        }

        .img-section {
          width: 86px;
          height: 86px;
          border-radius: 86px;
          margin-bottom: 8px;
          background-color: #ced3dc;
        }

        .testimonial-card-title {
          @include fontLatoStyle(32px, 600, #000000, 47px);
          margin-bottom: 8px;
        }

        .testimonial-card-location {
          @include fontLatoStyle(26px, 600, #7a6e6e, 47px);
        }

        .testimonial-card-content {
          @include fontLatoStyle(20px, 400, #838383, 24px);
        }
      }
    }

    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      .view-all-but {
        @include fontLatoStyle(24px, 600, #2a71f9, 47px);
        cursor: pointer;
      }
      .main-title {
        @include fontLatoStyle(48px, 500, #000000, 58px);
        display: flex;
        align-items: center;
      }
    }
  }
  .home-wall-mural {
    height: 1100px;
    width: 100%;

    .home-wall-mural-inner-container {
      background: url("../../assets/images/homeMain.jpeg");
      background-size: cover;
      height: 880px;
      background-color: grey;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .home-wall-mural--title {
      @include fontPoppinsStyle(64px, 700, #ffffff, 76px);
    }

    .home-wall-mural--title-two {
      @include fontLatoStyle(52px, 600, #ffffff, 62px);
    }

    .card-one-container {
      position: relative;
      top: 400px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding: 50px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      -webkit-box-pack: center;
      justify-content: center;

      .card-one-inner-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }

  .why-wallantics-container {
    margin-top: 145px;
    width: 100%;

    .why-wallantics--title {
      width: 100%;
      height: 60px;
      @include fontPoppinsStyle(40px, 700, #000000, 60px);
      display: -webkit-box;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .why-wallantics-card-container {
      height: 450px;
      width: 100%;

      padding: 200px;

      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      background: -o-radial-gradient(
        50.62% 41.31%,
        88.26% 88.26%,
        rgba(241, 224, 206, 0.33) 0%,
        rgba(237, 217, 196, 0.2739) 52.6%,
        rgba(235, 167, 98, 0) 100%
      );

      background: radial-gradient(
        88.26% 88.26% at 50.62% 41.31%,
        rgba(241, 224, 206, 0.33) 0%,
        rgba(237, 217, 196, 0.2739) 52.6%,
        rgba(235, 167, 98, 0) 100%
      );
      -webkit-filter: drop-shadow(0px 4px 30px rgba(255, 236, 214, 0.15));
      filter: drop-shadow(0px 4px 30px rgba(255, 236, 214, 0.15));

      .card-two {
        height: 351px;
        width: 268px;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .card-two-img {
          height: 100px;
          width: 100px;
          margin-bottom: 40px;
        }

        .card-two-title {
          @include fontLatoStyle(34px, 800, #000000, 41px);
        }

        .card-two-content {
          @include fontLatoStyle(24px, 600, #000000, 29px, 0.04em);
        }
      }
    }
  }

  .footer-margin {
    margin-bottom: 200px;
  }
}

.style-container {
  height: 200px;
  background-color: green;
}
