button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #FADB14;

  }
  .off {
    color: #F0F0F0;
  }
  
  body {
    padding: 100px;
  }