@import "assets/scss/abstracts/abstracts.scss";

.room-visualizer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  h2 {
    font-style: normal;
    font-weight: 700;
  }

  .upload-picture {
    width: 80%;
    margin-top: 20px;
    border: 2px dashed #2a71f9;
    border-radius: 13px;
    text-align: center;
    padding: 20px;
    img {
      padding: 20px;
    }
    p {
      @include fontInterStyle(19px, 400, #000000);
    }
  }

  .grid-main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .wallpaper-image {
    width: 370px;
    border-radius: 13px;
  }

  .wallpaper-child {
    position: relative;
    p {
      position: absolute;
      color: white;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}
