.bloghead{
    h4{
        font-weight: 700;
    font-size: 33px;
    line-height: 48px;
    color: #000000;
    margin-left: 105px;
    margin-top: 25px;
    }
}
.detailjohn{
    margin: 2px 519px 0px 4px;
    img{
        margin-top: 20px;
        width: 47px;
        margin-left: 100px;
    }
    label{
        font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 17px;
color: #000000;
margin-left: 10px;
    }
    span{
        font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 13px;
color: #959595;
    }
    p{
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        text-align: justify;
        margin-left: 108px;
        width: 757px;
        margin-top: 20px;
    }
}
.getinspiration{
    img{
     width: 74%;
     margin-left: 90px;
    }
    label{
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #000000;
        margin-left: 108px;
        margin-top: 35px;
    }
    p{
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        text-align: justify;
        color: #6D6363;
        margin-left: 114px;
        margin-top: 34px;
        width: 70%;
    }
}
.natureinspired{
    label{
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #000000;
        margin-left: 108px;
        margin-top: 35px;
    }
    p{
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        text-align: justify;
        color: #6D6363;
        margin-left: 114px;
        margin-top: 34px;
        width: 70%;
    }
    img{
        width: 71%;
        margin-left: 106px;
    margin-top: 25px;
    }
}

.kidsbedroom{
    label{
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #000000;
        margin-left: 108px;
        margin-top: 35px;
    }
    p{
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        text-align: justify;
        color: #6D6363;
        margin-left: 114px;
        margin-top: 34px;
        width: 70%;
        margin-bottom: 85px;
    }
}
.thisweek1{
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    margin-top: 20px;
    color: #000000;
    }
.week1{
    display: flex;
    margin-top: 21px;
    img{
        width: 29%;
    }
    p{
       
    font-weight: 500;
    font-size: 14px;
    color: #262626;
    width: 189px;
    margin-top: 14px;
    text-align: justify;
    margin-left: 16px;

    }
}
hr{
    width: 325px;
height: 0px;
left: 1320px;
top: 527px;

border: 1px solid #E0E0E0;
}
.blogdetails-right{
    position: relative;
    right: 60px;
}