@import "assets/scss/abstracts/abstracts.scss";
.profile-main {
  display: flex;
  justify-content: center;

  padding: 20px;
  gap: 20px;

  .breadcrumbs {
    position: absolute;
    margin-left: -550px;
    margin-top: 50px;
    @include fontRobotoStyle(14px, 400, #000000);
  }
}

.card-main {
  width: 400px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  margin-left: -550px;
  margin-top: 100px;
  position: relative;
}

.tab-menus {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 20px;
  width: 400px;
  min-height: 500px;
  height: auto;
  margin-left: -550px;
}

.card-info {
  margin-left: 430px;
  margin-top: -560px;
  width: 650px;
  min-height: 640px;
  height: auto;
  position: relative;

  align-items: center;
  padding: 20px 20px;
  gap: 20px;
}

.tab-list {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 0px !important;
}

.react-tabs__tab {
  @include fontLatoStyle(24px, 400, #000000, 29px);
  text-transform: capitalize;
  height: 70px;
  display: flex !important;
  align-items: center !important;
  border: none !important;
  bottom: 0px !important;
  position: relative;
  list-style: none;
  padding: 6px 12px 0 40px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #e7f3ff;
  border-bottom: none;
  @include fontLatoStyle(24px, 700, #2a71f9);
  width: 100%;
  text-transform: capitalize;
  height: 70px;
  display: flex !important;
  align-items: center !important;
  padding-left: 40px !important;
}

.card-content h6,
h2 {
  font-style: normal;
  font-weight: 700;
}

.chatIcon {
  position: absolute;
  right: 0px;
  bottom: 10px;
  z-index: 99;
  cursor: pointer;
}
