.custom-table-body{
    line-height: 43px
}
.table-responsive{
    width: 92%;
    margin-left: 55px;
}

.custom-table-body{
    td{
        color: #000000;
        font-weight: 600;
        font-size: 16px;
    }
}
.custom-table-header{
    tr{
        color: #ABABAB;
        font-weight: 600;
        font-size: 16px;
    }
}

.dropdown{
    color: black;
}